.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--gray);
    padding: 20px 50px;
    box-sizing: border-box;
    border-top:1px solid rgba(0, 0, 0, 0.2);
}
 
.nav__ul {
    display: flex;
    justify-content: space-between;
  }

.nav__link {
  color: #2e363e;
  position: relative;

}

@keyframes  noticeAni {
0%{
   transform: none;
}
50% {
  transform: translateY(-5px) rotateY(180deg); 
}
100% {
  transform: none;
}
}

.nav__comment-notice {
    position: absolute;
    bottom: 15px;
    left: 17px;
    animation: noticeAni 2.5s ease-in-out infinite;
}
.nav__dot-notice {
    background-color: red;
    width:6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    bottom: 28px;
    left: 30px;
}
@keyframes BtnAni {
  from {
    opacity: 0;
  }

  to{
    transform:none;
    opacity: 1;
  
  }
}
.nav__btn {
  transform: translateY(50px);
   opacity: 0;
  animation: BtnAni 0.5s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.25s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:nth-child(4) {
  animation-delay: 0.75s;
}

.screen-delay .nav__btn {
  animation-delay:2.4s;
}

.screen-delay .nav__btn:nth-child(2) {
  animation-delay: 2.65s;
}
.screen-delay .nav__btn:nth-child(3) {
  animation-delay: 2.9s;
}
.screen-delay .nav__btn:nth-child(4) {
  animation-delay: 3.15s;
}